FAMILY_BETA_FIREBASE_PROJECT_ID=weeklydictationapp
FAMILY_BETA_KINDERGARTEN_SITE_ID=weeklydictation-k-beta
FAMILY_BETA_KINDERGARTEN_ROLLBACK_SITE_ID=weeklydictation-k-rollback
FAMILY_BETA_GRADE5_SITE_ID=weeklydictation-g5-beta
FAMILY_BETA_GRADE5_ROLLBACK_SITE_ID=weeklydictation-g5-rollback
